.navbar-brand {
    padding-top: 25px;
}
 h1 {
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;   
    line-height: .75; 
}
a:hover, .navbar-brand a:active {
    text-decoration: none;
}
#nav-list {
    margin-top: 10px;
}
#nav-list a {
    text-align: center;
    color: #61122f;
}
#nav-list a:hover {
    background: #E7E7E7;
}
#nav-list a span {
    font-size:1.8em
}
#phone a {
    margin-top: 5px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
}
button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}